body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  -webkit-overflow-scrolling: touch;
}


h1{
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}

h2,h3{
  font-family: 'Rajdhani', sans-serif;
}
section{
  overflow: hidden;
  box-sizing: border-box;
  background-size: cover;
  background-color: #f08860;
}

section.portfolio iframe{
  position: absolute;

  top: 130%;
  left:50%;

  width: 6.45vw;
  height: 3.6vw;
  background-color: #000;
  z-index: 10;
  border:1vw solid black;
  box-shadow: 0.7vw 0.8vh rgba(255,255,255,.8);
  transform: translate(-50%,-50%) rotate(2deg);
  /* transition: top, left 2s; */
}

section.portfolio.show iframe{
  top: 55%;
  left:50%;
  width: 64.5vw;
  height: 36vw;
  transition: all  .2s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition-delay: .2s;

}

section.portfolio.show iframe.hover{
  z-index: 300;
  width: 80vw;
  height: 45vw;
  transform: translate(-50%,-50%) rotate(0deg);
  transition: all .5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

section.portfolio::after{
  content: '';
  width: 64.5vw;
  height: 36vw;
  border: 0vw solid white;
  transform: translate(-50%,-50%) rotate(-20deg);
  position: absolute;
  top: 60%;
  left:50%;
  z-index: 5;
}

section.portfolio.show::after{
  top: 60%;
  left:50%;
  border: 2vw solid white;
  transform: translate(-50%,-50%) rotate(10deg);
  transition: all  .15s cubic-bezier(0.465, 0.860, 0.605, 1.180);
}

section.portfolio .info{
  position: absolute;
  z-index: 100;
  background-color:rgba(0,0,0,1);
  padding: 2vw 2vw;
  left: -38vw;
  top:6vw;
  /* transform: translate(-50%,0); */
  /* width: 100%; */
  color:#fff;
  /* border-radius: 5px; */
  width:30vw;
  transform: rotate(-100deg) scale(.2);
  box-shadow: 0.7vw 0.8vh rgba(255,255,255,.8);
  box-sizing: border-box;
}

section.portfolio.show .info{
  left: 2vw;
  top:6vw;
  transform: rotate(-5deg) scale(1);
  transition: all  .6s cubic-bezier(0.465, 0.860, 0.605, 1.180);
  transition-delay: .2s;
}

section.portfolio .description{
  position: absolute;
  z-index: 100;
  background-color:rgba(0,0,0,1);
  padding: 2vw 2vw;
  width: 30vw;
  right: -40vw;
  bottom: 4vw;
  box-shadow: -0.7vw -0.8vh rgba(255,255,255,.8);
  transform: rotate(-10deg);
}


section.portfolio.show .description{
  right: 4vw;
  bottom: 4vw;
  transition: all  .2s cubic-bezier(0.465, 0.860, 0.605, 1.180);
  transition-delay: .3s;
}

section.portfolio .background{
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  box-sizing: border-box;
  background-size: cover;
  background-blend-mode: exclusion;
  opacity: .2;
  background-position: center;
}

section.portfolio .info h1,h2,h3,h4{
  font-family: 'Rajdhani', sans-serif;
  margin:0;
  text-shadow: 0.15vw 0.15vh rgba(100,100,100,.8);
}
section.portfolio .info h2{
  font-size: 3.8vw;
  /* font-weight: 800; */
  line-height: 100%;
  margin-bottom: 1vw;
  /* font-family: 'Anton', sans-serif; */
  text-transform: uppercase;
}
section.portfolio .info h3{
  font-style: italic;
}

section.portfolio .info p{
  /* width: 30%; */
}

.about{
  padding: 6vh;
  background-color: #f08860;
}
.about .footer{
  display: block;
  width:100%;
  height: 5vh;
  bottom:0;
  left:0;
  position: absolute;
  background-color: white;
  z-index: 0;
}
.about .cutout{
  width:0;
  height:10vw;
  position: absolute;
  content: '';
  display: block;
  left: 50%;
  top:0%;

  border-left: 3vw solid transparent;
  border-right: 3vw solid transparent;

  border-top: 2vw solid #f08860;
  transform: translate(-50%,0);

  /* transition: border-top-color 3s; */
  box-sizing: border-box;
}

.about .icon{
  position: absolute;
  width:5vw;
  height:10vw;
  bottom: .5vw;
  left:50%;
  transform: translate(-50%,0);
  background-image: url(/images/arrow-down-sign-to-navigate.svg);
  background-size: 30% 30%;
  background-repeat: no-repeat;
  background-position: center 80%;
}


.about h1{
  font-size: 18vw;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
  line-height: 95%;
  margin:0;
  border-bottom: 1.9vw solid #fff;
  padding-bottom: 2vw;
  font-style:normal;
  text-shadow: 0.4vw 0.4vh rgba(0,0,0,0.1);
  color: #fff;
  z-index: 100;
  position: relative;

}
.about h2{
  font-size: 1.68vw;
  text-transform: uppercase;
  font-weight: 100;
  color: #fff;
  margin-top: 2vh;
  z-index: 100;
  position: relative;
  text-shadow: none;
}
