
html(lang="en")
head
  meta( charset="UTF-8")
  title Jeramy Morrill - Creative Technologist -- Designer -- Illustrator
  meta( name="viewport" content="width=device-width")
body
  .main
    section.about
      h1 Jeramy Morrill
      h3 Creative Technologist - Creative Director - Illustrator
    section Portfolio 1
    section Portfolio 2
    section Portfolio 3
    section Portfolio 4
